---
layout: default
---

<h1>{{ page.title }}</h1>

<p class="info">Posted on: {{ page.date | date: "%d %B %Y"}}
{% if page.categories %}
in {% for category in page.categories %}
  <a href="/tags.html#{{ category }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endif %}
</p>

<div id="post">
{{ content }}
</div>

{% if site.related_posts %}
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &rarr; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div id="disqus">
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/hackerific/embed.js"></script>
  <noscript><a href="http://hackerific.disqus.com/?url=/2009/8/1/textmate-makefile-bundle">View the discussion thread.</a></noscript>
</div>